<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MobileExpress.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <MobileExpress.Properties.Settings>
      <setting name="PortScanner" serializeAs="String">
        <value>COM7</value>
      </setting>
      <setting name="TemplateFacturePath" serializeAs="String">
        <value>C:\Users\merto\Source\MobileExpressApp\Configuration\Template facture.docx</value>
      </setting>
      <setting name="TemplateRecuPath" serializeAs="String">
        <value>C:\Users\merto\Source\MobileExpressApp\Configuration\Template prise en charge.docx</value>
      </setting>
      <setting name="LogoPath" serializeAs="String">
        <value>C:\Users\merto\Source\MobileExpressApp\Configuration\Logoeducdombleu.png</value>
      </setting>
      <setting name="MarquesDSPath" serializeAs="String">
        <value>C:\Users\merto\Source\MobileExpressApp\Configuration\Marques.csv</value>
      </setting>
      <setting name="ModelesDSPath" serializeAs="String">
        <value>C:\Users\merto\Source\MobileExpressApp\Configuration\Modèles.csv</value>
      </setting>
      <setting name="UnlockTypesDSPath" serializeAs="String">
        <value>C:\Users\merto\Source\MobileExpressApp\Configuration\Types de déblocage.csv</value>
      </setting>
      <setting name="RepairTypesDSPath" serializeAs="String">
        <value>C:\Users\merto\Source\MobileExpressApp\Configuration\Types de réparation.csv</value>
      </setting>
      <setting name="PaymentModesDSPath" serializeAs="String">
        <value>C:\Users\merto\Source\MobileExpressApp\Configuration\Modes de paiement.csv</value>
      </setting>
      <setting name="ReceiptDSPath" serializeAs="String">
        <value>C:\Users\merto\Source\MobileExpressApp\Ticket de caisse.csv</value>
      </setting>
      <setting name="CustomersDSPath" serializeAs="String">
        <value>C:\Users\merto\Source\MobileExpressApp\Client.csv</value>
      </setting>
      <setting name="StockDSPath" serializeAs="String">
        <value>C:\Users\merto\Source\MobileExpressApp\Article.csv</value>
      </setting>
      <setting name="PriseEnChargeDirectory" serializeAs="String">
        <value>C:\Users\merto\Source\MobileExpressApp\Prises en charges\</value>
      </setting>
      <setting name="FactureDirectory" serializeAs="String">
        <value>C:\Users\merto\Source\MobileExpressApp\Factures\</value>
      </setting>
    </MobileExpress.Properties.Settings>
  </applicationSettings>
</configuration>