<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronPdf" version="2023.1.11416" targetFramework="net481" />
  <package id="IronPdf.Native.Chrome.Windows" version="2023.1.11387" targetFramework="net481" />
  <package id="IronPdf.Slim" version="2023.1.11416" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net481" />
</packages>